<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">


    <!-- 创建业务逻辑类的组件对象
    <bean id="empService" class="spring_01.service.EmpServiceImpl"></bean>
    -->
    <!-- 创建代理对象 -->
    <bean id="staticProxy" class="spring_01.service.StaticProxy">
    </bean>


</beans>
